version: 1

formatters:
  detailed:
    format: "%(asctime)s | %(name)s | %(levelname)s | %(filename)s:%(lineno)d | %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: detailed

  file:
    class: logging.handlers.RotatingFileHandler
    level: INFO
    formatter: detailed
    filename: "logs/clustering.log"
    encoding: utf-8
    maxBytes: 10485760   # 10 MB
    backupCount: 5

root:
  level: INFO
  handlers: [console, file]